# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug
Release
*.opensdf
*.sdf
*.suo
*.old
VisualGDBCache
CodeDB
logs

Browse.VC.db
.vs
.vs/Lawicel_CAN_UART/v15/Browse.VC.db
